<div class="d-flex" [ngClass]="(commentsExpanded$ | async) ? 'justify-content-between' : 'justify-content-around'">
    <span class="btn btn-xs btn-outline-secondary" *ngIf="!(commentsExpanded$ | async)" (click)="showComments()">
        Show Comments ({{numberOfComments}})
    </span>

    <span class="btn btn-xs btn-outline-secondary mr-3" *ngIf="(commentsExpanded$ | async)" (click)="hideComments()">
        Hide Comments
    </span>

    <span class="btn btn-xs btn-outline-success" *ngIf="(commentsExpanded$ | async)" (click)="commentsEditor = !commentsEditor">
        {{ commentsEditor ? 'Hide editor' : 'Write comment' }}
    </span>
</div>

<div *ngIf="commentsExpanded$ | async">
    <div *ngIf="comments$ | async as comments else loading">
        <app-comment-form [collapsed]="!commentsEditor" (message)="onMessage($event)"></app-comment-form>

        <div class="comments px-2 py-3">
            <nb-list nbInfiniteList listenWindowScroll [threshold]="10" (bottomThreshold)="loadNext()">
                <nb-list-item *ngFor="let comment of comments">
                    <app-comment-message [comment]="comment" @animComment></app-comment-message>
                    <p class="no-comments" *ngIf="!comments?.length">No comments yet.</p>
                </nb-list-item>
            </nb-list>
            <div class="w-100 comments-loading" [nbSpinner]="loadingComments$ | async" nbSpinnerStatus="danger"></div>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="w-100 my-3 comments-loading" [nbSpinner]="true"></div>
</ng-template>
