@import '../../../../themes';

@include nb-install-component() {
    width: 100%;

    .navbar-brand {
        color: nb-theme(header-fg);
    }

    .navbar-nav {
        padding-left: 0;
    }

    .nav-link {
        position: relative;
    }

    .nav-link.active::after {
        position: absolute;
        border: 2px solid nb-theme(color-info);
        content: '';
        width: 100%;
        height: 4px;
        border-radius: 2px;
        left: 0;
        bottom: -5px;
    }

    nb-user {
        cursor: pointer;
    }

    @include media-breakpoint-down(is) {
        /deep/ .user-container .info-container {
            display: none;
        }
    }
}
