<header class="navbar navbar-expand flex-row navbar-dark sticky-top">
  <a class="navbar-brand" routerLink="/">ngrx-quiz</a>
  <ul class="navbar-nav flex-row w-100">
        <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/quizes">Quizes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin">Admin</a>
        </li>

        <li class="nav-item ml-auto">
            <a *ngIf="!(userFullName$ | async)" class="nav-link" routerLink="/auth/login">Login</a>
            <span class="nav-link" *ngIf="(userFullName$ | async)">Hello, {{(userFullName$ | async)}}!</span>
        </li>
  </ul>
</header>