<header class="navbar navbar-expand flex-row navbar-dark sticky-top">
  <a class="navbar-brand" routerLink="/">ngrx-quiz</a>
  <ul class="navbar-nav flex-row w-100">
        <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/quizes">Quizes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item" *ngIf="(user$ | async)?.admin">
            <a class="nav-link" routerLink="/admin">Admin</a>
        </li>

        <li class="nav-item ml-auto">
            <app-theme-switcher class="nav-link"></app-theme-switcher>
        </li>

        <li class="nav-item ml-4" *ngIf="user$ | async as user else login">
            <nb-user name="{{user.fullName}}" [title]="user.admin ? 'Admin' : ''"
                [nbContextMenu]="items" nbContextMenuTag="user-context-menu">></nb-user>
        </li>

        <ng-template #login>
            <li class="nav-item ml-4">
                <a class="nav-link" routerLink="/auth/login">Login</a>
            </li>
        </ng-template>
  </ul>
</header>