<div class="container" *ngIf="quizList | async">
    <div class="my-3 text-center">There are {{(quizList | async)?.length}} quizes available</div>

    <nb-card *ngFor="let quiz of quizList | async; let i = index" class="card my-3">
        <nb-card-header>
            {{quiz.name}}
        </nb-card-header>
        <nb-card-body>
            <div>{{quiz.descriptionFull}}</div>
            <a class="btn btn-outline-primary float-right" [routerLink]="'/quiz/' + quiz.shortName">View details</a>
        </nb-card-body>
    </nb-card>
</div>
