@import '../../../../themes';

@include nb-install-component() {
    nb-card {
        max-width: 460px;
    }

    nb-card-body {
        min-height: 120px;
    }

    .nb-close {
        cursor: pointer;
    }
}
