@import '../../../../themes';

@include nb-install-component() {
    .explanation quill-editor {
        flex: 1;
        height: 100%;
    }

    .choice-correct-bar {
        width: 10px;
    }

    .choice-icon-remove {
        font-size: 1.75rem;
        cursor: pointer;

        &:hover {
            color: nb-theme(color-danger);
        }
    }

    .choice-correct {
        background-color: nb-theme(color-success);
    }
}