<div class="container">
    <div class="row my-bg p-3">
        <form *ngIf="item" #form="ngForm" class="w-100">
            <div class="d-flex align-items-center justify-content-between">
                <app-back-link url="..">Back to item list</app-back-link>
                <a class="btn btn-xs btn-outline-info ml-auto btn-new" routerLink="../new">Add New Item</a>
                <button class="btn btn-outline-primary ml-3"
                        [disabled]="form.pristine || form.invalid" (click)="save()">Save</button>
            </div>

            <div class="form-group mt-3">
                <h5>Question</h5>
                <quill-editor name="question" autofocus theme="snow" [(ngModel)]="item.question"
                      [modules]="quillToolbarConfig" [required]="true"></quill-editor>
            </div>

            <div class="form-group mt-3 d-flex align-items-center">
                <nb-checkbox name="randomizeChoices" [(ngModel)]="item.randomizeChoices">
                    Randomize choices order
                </nb-checkbox>
                <a routerLink="./" class="ml-auto text-info" (click)="shuffle()">Shuffle choices now</a>
            </div>

            <div class="form-group mt-3 d-flex align-items-center">
                <nb-checkbox name="singleChoice" [(ngModel)]="item.singleChoice" (change)="onSingleChoiceChange()">
                    Single choice
                </nb-checkbox>
                <a routerLink="./" class="ml-auto" (click)="addChoice()">Add another choice</a>
            </div>

            <div class="d-flex align-items-center mt-3">
                <h5>Choices</h5>
            </div>

            <div class="d-flex my-2" *ngFor="let choice of item.choices; let i = index">
                <div class="choice-correct-bar" [ngClass]="{'choice-correct' : choice.correct}"></div>
                <div class="px-2">
                    <label class="ml-auto">
                        <input *ngIf="!item.singleChoice" type="checkbox" name="correct{{i}}" title="Mark as correct"
                            [(ngModel)]="choice.correct"/>

                        <input *ngIf="item.singleChoice" type="radio" name="correct" title="Mark as correct"
                            [(ngModel)]="radioIdx" [value]="i" (change)="onRadioChoiceSelect(i)"/>

                        <b class="ml-2">{{i + 1}}.</b>
                    </label>
                </div>
                <div class="choice-content">
                    <div class="form-group d-flex align-items-center">
                        <input type="text" name="choiceText{{i}}" #choiceText="ngModel" nbInput fullWidth
                            placeholder="Enter choice" required
                            [status]="choiceText.invalid  ? 'danger' : (choiceText.dirty ? 'warning' : '')"
                            [(ngModel)]="choice.text"/>

                        <i class="icon nb-arrow-up ml-1"
                            title="Move up" (click)="moveChoiceUp(choice)"></i>
                        <i class="icon nb-arrow-down ml-1"
                            title="Move down" (click)="moveChoiceDown(choice)"></i>
                        <i class="icon nb-trash ml-2 choice-icon-remove"
                            title="Remove choice" (click)="removeChoice(choice)"></i>
                    </div>
                    <div class="d-flex explanation">
                        <label class="mx-2" (click)="toggleExplanation(i)">
                            <i class="fa" [ngClass]="{
                                    'fa-plus-square-o': !isExplanationExpanded(i),
                                    'fa-minus-square-o': isExplanationExpanded(i)
                                }"></i>
                            Explanation
                        </label>

                        <quill-editor *ngIf="isExplanationExpanded(i)" name="choiceExplanation{{i}}" theme="snow"
                            [(ngModel)]="choice.explanation" [modules]="quillToolbarConfig">
                        </quill-editor>
                    </div>
                </div>
            </div>

            <div class="d-flex">
                <button class="btn btn-xs btn-outline-danger btn-remove ml-auto" (click)="remove()">
                    <span class="d-flex align-items-center">
                        <i class="icon nb-trash"></i>
                        Delete Item
                    </span>
                </button>
            </div>

            <!-- TODO validation: at least one must be checked, max choices length -->
        </form>
    </div>
</div>
