@import '../../../../themes';

@include nb-install-component() {
    .btn-new {
        border-width: 0;
    }

    .explanation {
        cursor: pointer;
    }

    .explanation quill-editor {
        flex: 1;
        height: 100%;
    }

    .choice-correct-bar {
        width: 10px;
    }

    .choice-content {
        flex: 1;
    }

    .choice-content .icon {
        font-size: 1.75rem;
        cursor: pointer;

        &:hover {
            color: nb-theme(color-success);
        }

        &.nb-trash:hover {
            color: nb-theme(color-danger);
        }
    }

    .choice-correct {
        background-color: nb-theme(color-success);
    }
}