<div class="container">
    <div class="row my-bg p-3">
        <form *ngIf="item" #form="ngForm" class="w-100">
            <div class="d-flex align-items-center justify-content-between">
                <a routerLink="/admin/quiz/{{quizId}}/items">Back to items list</a>
                <button class="btn btn-sm btn-outline-danger ml-auto" (click)="remove()">Delete Item</button>
                <button class="btn btn-outline-primary ml-2"
                        [disabled]="form.pristine || form.invalid" (click)="save()">Save</button>
            </div>

            <div class="form-group mt-3">
                <h5>Question</h5>
                <quill-editor name="question" autofocus theme="snow" [(ngModel)]="item.question"
                      [modules]="quillToolbarConfig" [required]="true"></quill-editor>
            </div>

            <div class="d-flex mt-4">
                <h5>Choices</h5>
                <nb-checkbox class="ml-auto" name="randomizeChoices" [(ngModel)]="item.randomizeChoices">
                    Randomize choices order
                </nb-checkbox>
                <nb-checkbox class="ml-3" name="singleChoice" [(ngModel)]="item.singleChoice" (change)="onSingleChoiceChange()">
                    Single choice
                </nb-checkbox>
            </div>

            <div class="d-flex my-2" *ngFor="let choice of item.choices; let i = index">
                <div class="choice-correct-bar" [ngClass]="{'choice-correct' : choice.correct}"></div>
                <div class="px-2">
                    <label class="ml-auto">
                        <input *ngIf="!item.singleChoice" type="checkbox" name="correct{{i}}" title="Mark as correct"
                            [(ngModel)]="choice.correct"/>

                        <input *ngIf="item.singleChoice" type="radio" name="correct" title="Mark as correct"
                            [(ngModel)]="radioIdx" [value]="i" (change)="onRadioChoiceSelect(i)"/>

                        <b class="ml-2">{{i + 1}}.</b>
                    </label>
                </div>
                <div style="flex: 1">
                    <div class="form-group d-flex">
                        <input type="text" name="choiceText{{i}}" #choiceText="ngModel" nbInput fullWidth
                            placeholder="Enter choice" required
                            [status]="choiceText.invalid  ? 'danger' : (choiceText.dirty ? 'warning' : '')"
                            [(ngModel)]="choice.text"/>

                        <span class="fa fa-trash align-self-center ml-3 choice-icon-remove"
                            title="Remove choice" (click)="removeChoice(choice)"></span>
                    </div>
                    <div class="d-flex explanation">
                        <label class="mx-2" (click)="toggleExplanation(i)">
                            <i class="fa" [ngClass]="{
                                    'fa-plus-square-o': !isExplanationExpanded(i),
                                    'fa-minus-square-o': isExplanationExpanded(i)
                                }"></i>
                            Explanation
                        </label>

                        <quill-editor *ngIf="isExplanationExpanded(i)" name="choiceExplanation{{i}}" theme="snow"
                            [(ngModel)]="choice.explanation" [modules]="quillToolbarConfig">
                        </quill-editor>
                    </div>
                </div>
            </div>

            <div class="text-right mt-2">
                <a [routerLink]="'./'" class="ml-auto" (click)="addChoice()">Add another choice</a>
            </div>

            <!-- TODO validation: at least one must be checked, max choices length -->
        </form>
    </div>
</div>
