<div class="choice d-flex align-items-center mt-3 py-3" [ngClass]="{
      'checked': !answered && choice.checked,
      'text-success': choice.correct && !choice.semiCorrect,
      'text-danger': choice.wrong,
      'text-warning': choice.semiCorrect,
      'choice--answered': answered
    }" (click)="toggleChoice(choice.id)" [@myShake]="getAnimationState(choice)">
    <i *ngIf="!singleChoice || answered" class="fa mx-3" [ngClass]="{'fa-check': !choice.wrong , 'fa-times': choice.wrong}"></i>
    <i *ngIf="singleChoice && !answered" class="fa mx-3" [ngClass]="{'fa-circle': true}"></i>
    <span>{{choice.text}}</span>
    <span *ngIf="answered" class="ml-auto mr-3">
        {{choice.popularity | percent : '1.0-2'}}
    </span>
</div>
<div *ngIf="choice.explanation" class="alert" [ngClass]="{'text-success': choice.correct, 'text-danger': choice.wrong}">
    <quill-editor theme="bubble" [readOnly]="true" [ngModel]="choice.explanation"></quill-editor>
</div>