<div class="container" *ngIf="quizMeta$ | async as quizMeta else loading">
    <div class="d-flex flex-row mb-4 justify-content-between align-items-center">
        <a routerLink="/admin/quizes">Back to quiz list</a>
        <span>There are totally {{quizMeta.items?.length || 0}} questions in quiz</span>
        <a class="btn btn-outline-primary" routerLink="/admin/quiz/{{quizMeta.id}}/items/new">Add New Item</a>
    </div>

    <nb-card *ngFor="let item of quizMeta.items; let i = index" class="card" accent="primary">
        <nb-card-header class="d-flex align-items-center px-4 py-2">
            <span>Question {{i + 1}}</span>
            <i class="icon nb-arrow-up ml-auto"
                title="Move up" (click)="moveItemUp(quizMeta, item)"></i>
            <i class="icon nb-arrow-down ml-1"
                title="Move down" (click)="moveItemDown(quizMeta, item)"></i>
            <a class="btn btn-xs btn-outline-primary float-right ml-3"
                routerLink="/admin/quiz/{{quizMeta.quizId}}/items/{{item.id}}">Edit</a>
        </nb-card-header>
        <nb-card-body>
            <quill-editor theme="bubble" [readOnly]="true" [ngModel]="item.question"></quill-editor>
            <div class="text-right">
                {{item.choices.length}} choices available; {{item.singleChoice ? 'single' : 'multi'}} choice
            </div>
        </nb-card-body>
    </nb-card>
</div>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>
