@import '../../../../themes';

@include nb-install-component() {
    align-items: center;
    display: flex;
    flex: 1;

    .choices {
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
    }

    nb-card-header {
        opacity: 0.6;
    }

    .fa {
        font-size: 1.25rem;
        color: nb-theme(color-bg-active);
    }

    .choice.checked, .choices:not(.choices--answered) .choice:hover {
        border-color: nb-theme(color-info);
        opacity: 1;
        transition: border-color 1s, opacity 0.5s;
    }

    .choice {
        cursor: pointer;
        border: 2px solid nb-theme(color-bg-active);
        border-radius: nb-theme(radius);
        opacity: 0.8;


        &.text-success, &.text-danger {
            font-weight: bold;
        }

        &.text-success {
            border-color: nb-theme(color-success);
        }

        &.text-danger {
            border-color: nb-theme(color-danger);
        }

        &.choice.checked .fa {
            color: nb-theme(color-info);
        }
    }
}