<div class="container" *ngIf="quizState$ | async as quizState else loading" >
    <app-back-link routerLink="/">Back to quiz list</app-back-link>
    <div *ngIf="itemStatus$ | async as itemStatus else loading">
        <nb-card class="my-3" [status]="itemStatus.correct ? 'success' : (itemStatus.wrong ? 'danger': '')"
                [@animCard]="(itemLoading$ | async) ? 'void' : 'in'">
            <nb-card-header class="d-flex justify-content-between">
                <span>
                    Question {{quizState.step}} from {{quizState.totalQuestions}}
                    (left: {{quizState.totalQuestions - quizState.answers.size}})
                </span>
                <span>Score: {{quizState.score}}</span>
            </nb-card-header>

            <nb-card-body>
                <quill-editor theme="bubble" [readOnly]="true" [ngModel]="(itemStatusDelayed$ | async)?.question"></quill-editor>
                <div class="mt-4 choices">
                    <div class="choices-animated-aux"
                            [ngClass]="choicesAnimationCounter !== itemStatus.choicesStatus.length ? 'd-block' : 'd-none'">
                        <div *ngFor="let choice of (choices$ | async); trackBy: trackChoice"
                                [@animChoice]="'in'" (@animChoice.done)="choiceAnimationDone($event)">
                            <app-quiz-step-choice [choice]="choice" [answered]="itemStatus.answered"></app-quiz-step-choice>
                        </div>
                    </div>

                    <div [ngStyle]="{visibility: choicesAnimationCounter ===  itemStatus.choicesStatus.length ? 'visible' : 'hidden'}">
                        <div *ngFor="let choice of itemStatus.choicesStatus">
                            <app-quiz-step-choice [choice]="choice" [answered]="itemStatus.answered"></app-quiz-step-choice>
                        </div>
                    </div>
                </div>
            </nb-card-body>

            <nb-card-footer class="d-flex">
                <a *ngIf="!itemStatus.answered" class="btn btn-outline-secondary btn-lg ml-auto"
                        routerLink="/quiz/{{quizState.shortName}}/{{quizState.nextStep}}">
                    Skip
                </a>
                <button *ngIf="!itemStatus.answered" class="btn btn-outline-primary btn-lg ml-4"
                        (click)="submit()">
                    Submit
                </button>
                <a *ngIf="itemStatus.answered && !quizState.finished" class="btn btn-outline-info btn-lg ml-auto"
                        routerLink="/quiz/{{quizState.shortName}}/{{quizState.nextStep}}">
                    Next
                </a>
                <a *ngIf="quizState.finished" class="btn btn-outline-info btn-lg ml-auto"
                        routerLink="/quiz/{{quizState.shortName}}/result">
                    Results
                </a>
            </nb-card-footer>
        </nb-card>

        <app-comments [numberOfComments]="itemStatus.numberOfComments"></app-comments>

        <div class="text-center">
            <span *ngFor="let itemId of quizState.itemIds; let i = index">
                <a *ngIf="quizState.step !== i + 1" routerLink="/quiz/{{quizState.shortName}}/{{i + 1}}">
                    {{i + 1}}
                </a>
                <span *ngIf="quizState.step === i + 1">{{i + 1}}</span>
            </span>
        </div>
    </div>
</div>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>