@import '../../../../themes';

@include nb-install-component() {
    align-items: center;
    display: flex;
    flex: 1;

    .btn-outline-secondary {
        border-color: transparent;
    }

    .choices {
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
        position: relative;
    }

    .choices-aux {
        visibility: hidden;
    }

    .choices-animated {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    nb-card-body {
        overflow: hidden;
    }
}