<div class="my-3 px-4">
    <p>
        Hi, I'm Viachaslau Tyshkavets, software engineer with some years of experience.<br/>
        Current passion is SPA/PWA front-end development with Angular, but also MongoDB and NodeJS.<br/>
        <br/>
        Live in Minsk, Belarus. Opened to new <a href="mailto:offer@rankme.pro" target="_blank">remote job opportunities</a>.<br/>
        <br/>
        You are kindly welcome to <a href="https://github.com/pmstss/ngrx-quiz" target="_blank">join ngrx-quiz</a> development.
    </p>
    <p>
        <b>LinkedIn</b>: <a href="https://www.linkedin.com/in/viachaslau-tyshkavets-385a39103" target="_blank">Viachaslau Tyshkavets</a><br/>
        <b>GitHub</b>: <a href="https://github.com/pmstss" target="_blank">pmstss</a><br/>
        <b>Email</b>: <a href="mailto:admin@rankme.pro" target="_blank">admin@rankme.pro</a><br/>
    </p>
</div>
