<div class="w-100">
    <div class="container">
        <form #form>
            <div class="form-group row">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" class="form-control"
                    [(ngModel)]="credentials.login" required/>
            </div>

            <div class="form-group row">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control"
                    [(ngModel)]="credentials.password" required/>
            </div>

            <div class="text-danger text-center"><b>{{authError$ | async}}</b></div>

            <div class="text-center">
              <button class="btn-primary btn-lg" (click)="login()">Login</button>
              <button class="btn-secondary btn-lg ml-4" (click)="form.reset()">Reset</button>
            </div>
        </form>
    </div>
</div>