<div class="container">
    <div class="text-center mt-4">
        <label for="quizSelect">Select quiz</label>
        <select id="quizSelect" class="ml-4" #quizSelect (change)="selectQuiz(quizSelect.value)">
            <option *ngFor="let quiz of quizList$ | async" [value]="quiz.id">
                {{quiz.shortName}}
            </option>
        </select>
    </div>

    <h2 class="text-center text-success my-4" *ngIf="quiz$ | async as quiz">Top scores for "{{quiz.name}}" </h2>
    <table *ngIf="topScores$ | async as topScores else loading" class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Score</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let topScore of topScores; let index = index">
                <th scope="row">{{index + 1}}</th>
                <td>{{topScore.userName}}</td>
                <td>{{topScore.score | percent: '1.0-2'}}</td>
                <td>{{topScore.createdAt | date : 'mediumDate'}}</td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>