<div class="container" *ngIf="quizMeta$ | async">
    <div class="d-flex flex-row mb-4 justify-content-between align-items-center">
        <span>There are totally {{(quizMeta$ | async)?.items.length}} questions in quiz</span>
        <a class="btn btn-success" routerLink="/admin/quiz/{{quizId}}/items/new">Add New Item</a>
    </div>

    <nb-card *ngFor="let item of (quizMeta$ | async)?.items; let i = index" class="card">
        <nb-card-header>
            Question {{i + 1}}
            <a class="btn btn-sm btn-outline-dark float-right"
                routerLink="/admin/quiz/{{quizId}}/items/{{item.id}}">Edit</a>
        </nb-card-header>
        <nb-card-body>
            <quill-editor theme="bubble" [readOnly]="true" [ngModel]="item.question"></quill-editor>
            {{item.choices.length}} choices available; {{item.singleChoice ? 'single' : 'multi'}} choice
        </nb-card-body>
    </nb-card>
</div>

