@import '../../../../themes';

@include nb-install-component() {
    display: block;

    h5 {
        color: inherit;
    }

    .chart-container {
        height: 300px;
        position: relative;
        margin-left: 0.5rem;

        &::after, &::before {
            display: inline-block;
            font-size: 0.9rem;
            position: absolute;
        }

        &::after {
            content: 'Number of correct answers';
            bottom: -0.5rem;
            transform: translateX(-50%);
            left: 50%;
        }

        &::before {
            content: 'Percent of users';
            transform: rotate(-90deg) translateX(-40%);
            transform-origin: 0 0;
            top: 50%;
            left: -0.5rem;
        }
    }

    /deep/ {
        .ct-grids .ct-grid {
            stroke: nb-theme(color-fg);
            opacity: 0.5;
        }

        .ct-labels .ct-label {
            color: nb-theme(color-fg);
        }
    }
}