<div class="container" *ngIf="quizMeta">
    <form #form="ngForm" class="w-100">
        <div class="d-flex align-items-center">
            <a routerLink="/admin/quizes">Back to quiz list</a>
            <button class="btn btn-outline-danger ml-auto" (click)="remove()">Delete Quiz</button>
            <button class="btn btn-outline-primary ml-2"
                    [disabled]="form.pristine || form.invalid" (click)="save()">Save</button>
        </div>

        <div class="form-group mt-3">
            <label for="shortName">
                SEO Name
                <i class="nb-help" nbTooltip="Used in quiz URL" nbTooltipStatus="default"></i>
            </label>
            <input type="text" name="shortName" #shortName="ngModel" nbInput fullWidth placeholder="Quiz short name"
                    [status]="shortName.invalid  ? 'danger' : (shortName.dirty ? 'warning' : '')"
                    required [(ngModel)]="quizMeta.shortName"/>
        </div>

        <div class="form-group mt-3">
            <label>Quiz Name</label>
            <i class="nb-help" nbTooltip="Shown everywhere" nbTooltipStatus="default"></i>
            <input type="text" name="name" #name="ngModel" nbInput fullWidth placeholder="Quiz name"
                    [status]="name.invalid  ? 'danger' : (name.dirty ? 'warning' : '')"
                    required [(ngModel)]="quizMeta.name"/>
        </div>

        <div class="form-group mt-3">
            <label>Time limit (mins)</label>
            <i class="nb-help" nbTooltip="Time limit (in minutes) for passing quiz" nbTooltipStatus="default"></i>
            <input type="number" name="timeLimit" #timeLimit nbInput fullWidth
                    [status]="timeLimit.invalid  ? 'danger' : (name.dirty ? 'warning' : '')"
                    required [(ngModel)]="quizMeta.timeLimit"/>
        </div>

        <div class="form-group mt-3">
            <label>
                Quiz Description
                <i class="nb-help" nbTooltip="Shown in quiz list" nbTooltipStatus="default"></i>
            </label>
            <quill-editor name="description" autofocus theme="snow" [(ngModel)]="quizMeta.description"
                    [modules]="quillToolbarConfig" [required]="true"></quill-editor>
        </div>

        <div class="form-group mt-3">
            <label>
                Quiz detailed description
                <i class="nb-help" nbTooltip="Shown at quiz intro page" nbTooltipStatus="default"></i>
            </label>
            <quill-editor name="descriptionFull" autofocus theme="snow" [(ngModel)]="quizMeta.descriptionFull"
                    [modules]="quillToolbarConfig" [required]="true"></quill-editor>
        </div>

        <div class="form-group mt-3">
            <label class="ml-auto">
                <nb-checkbox name="randomizeItems" [(ngModel)]="quizMeta.randomizeItems">
                    Randomize questions
                </nb-checkbox>
            </label>
        </div>
    </form>
</div>

