<div class="container" *ngIf="quizState$ | async as quizState else loading">
    <app-back-link routerLink="/">Back to quiz list</app-back-link>

    <div class="jumbotron my-3" *ngIf="quizState else loading">
        <h1>Welcome to {{quizState.name}}!</h1>
        <p class="lead">
            <!--quill-editor theme="bubble" [readOnly]="true" [ngModel]="quizState.description"></quill-editor-->
        </p>
        <hr class="my-4"/>
        <p>
            <quill-editor theme="bubble" [readOnly]="true" [ngModel]="quizState.descriptionFull"></quill-editor>
        </p>

        <div class="text-center mt-4">
            <a *ngIf="quizState.started" class="btn btn-lg mr-3" routerLink="./" (click)="reset()"
                    [ngClass]="quizState.finished ? 'btn-outline-secondary' : 'btn-outline-warning'">
                {{quizState.finished ? 'Take quiz again' : 'Restart quiz'}}
            </a>

            <a *ngIf="!quizState.finished" class="btn btn-lg btn-outline-primary" routerLink="/quiz/{{quizState.shortName}}/{{quizState.step}}">
                {{quizState.started ? 'Continue quiz' : 'Start quiz!'}}
            </a>

            <a *ngIf="quizState.finished" class="btn btn-lg btn-outline-info" routerLink="/quiz/{{quizState.shortName}}/result">
                Results
            </a>
        </div>
    </div>
</div>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>