<div class="container" *ngIf="quizState$ | async as quizState else loading">
    <app-back-link routerLink="/">Back to quiz list</app-back-link>
    <nb-card>
        <nb-card-header>
            <h2 class="m-3">Welcome to {{quizState.name}}!</h2>
        </nb-card-header>
        <nb-card-body class="m-3">
            <quill-editor theme="bubble" [readOnly]="true" [ngModel]="quizState.descriptionFull"></quill-editor>
        </nb-card-body>
        <nb-card-footer class="text-center">
            <a *ngIf="quizState.started" class="btn btn-lg mr-3" routerLink="./" (click)="reset()"
                    [ngClass]="quizState.finished ? 'btn-outline-secondary' : 'btn-outline-warning'">
                {{quizState.finished ? 'Take quiz again' : 'Restart quiz'}}
            </a>

            <a *ngIf="!quizState.finished" class="btn btn-lg btn-outline-primary" routerLink="/quiz/{{quizState.shortName}}/{{quizState.step}}">
                {{quizState.started ? 'Continue quiz' : 'Start quiz!'}}
            </a>

            <a *ngIf="quizState.finished" class="btn btn-lg btn-outline-info" routerLink="/result/{{quizState.shortName}}">
                Results
            </a>
        </nb-card-footer>
    </nb-card>
</div>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>