<div class="my-3 px-4">
    <h3>In short</h3>
    <p>
        MEAN, ngrx and nebular based quiz platform. Made by <a routerLink="../author">developer</a> for developers. Open source.
    </p>

    <h3 class="my-3">Motivation</h3>
    There are existing quiz platforms, but either they are not focused on developer specific needs (like code highlighting), or some nice-to-have features are missing or not configurable.

    <h3 class="my-3">Features</h3>
    Some features:
    <ul>
        <li>Explanation of answers</li>
        <li>Comments on answers</li>
        <li>Sharing result with friends</li>
        <li>Propose your own question or answer</li>
        <li>Create your own quiz</li>
    </ul>

    <h3 class="my-3">Contributors</h3>
    <a href="https://github.com/pmstss" target="_blank">pmstss</a><br/>
    <a href="https://github.com/pmstss/ngrx-quiz" target="_blank">Join!</a>

    <h3 class="my-3">Any questions?</h3>
    <a href="mailto:admin@rankme.pro" target="_blank">Feel free to contact</a>
</div>
