<div class="my-3 px-4">
    <h3>In short</h3>
    <p>
        MEAN, ngrx and nebular based quiz platform. Made by <a routerLink="../author">developer</a> for developers. Open source.
    </p>

    <h3 class="my-3">Motivation</h3>
    There are existing generic quiz platforms, but didn't find the one specific for developers and their needs (code highlighting, etc).<br/>
    Also:
    <ul>
        <li>Playground for latest features/libraries</li>
        <li>Expierence in full-cycle development of real-life project</li>
        <li>Expierence in open-source project</li>
        <li>Sharing knowleage</li>
    </ul>

    <h3 class="my-3">Features</h3>
    <ul>
        <li>Explanation of answers</li>
        <li>Comments on answers</li>
        <li>Answers and total score stats</li>
        <li>Sharing result with friends</li>
        <li>Social login</li>
        <li>Propose your own question or answer *</li>
        <li>Create your own quiz *</li>
    </ul>
    <i>* - under construction</i>

    <h3 class="my-3">Contributors</h3>
    <ul>
        <li>me <a href="https://github.com/pmstss" target="_blank">pmstss</a><br/></li>
        <li><a href="https://github.com/pmstss/ngrx-quiz" target="_blank">Join!</a></li>
    </ul>

    <h3 class="my-3">Any questions?</h3>
    <a href="mailto:admin@rankme.pro" target="_blank">Feel free to contact</a>
</div>
