<div class="my-3 px-4">
    <h4>In short</h4>
    <p>
        Open Source MEAN, ngrx and nebular based quiz platform. Made by <a routerLink="../author">developer</a> for <a href="https://github.com/pmstss/ngrx-quiz" target="_blank">developers</a>.
    </p>

    <h4 class="my-3">Features</h4>
    <ul>
        <li>Explanation of answers</li>
        <li>Comments on answers</li>
        <li>Answers and total score stats</li>
        <li>Sharing result with friends</li>
        <li>Social login</li>
        <li>Propose your own question or answer <i>(In Progress)</i></li>
        <li>Create your own quiz <i>(In Progress)</i></li>
    </ul>

    <h4 class="my-3">Motivation</h4>
    <ul>
        <li>Playground for latest features/libraries</li>
        <li>Expierence in full-cycle development of real-life project</li>
        <li>Expierence in open-source project</li>
        <li>Sharing knowleage</li>
    </ul>

    <a href="mailto:admin@rankme.pro" target="_blank">Feel free to contact</a>
</div>
