<div class="container" *ngIf="quizList$ | async as quizList else loading">
    <div class="d-flex flex-row mb-4 justify-content-between align-items-center">
        <span>There are totally {{quizList.length}} quizes in database</span>
        <a class="btn btn-outline-primary" routerLink="/admin/quiz/new">Add New Quiz</a>
    </div>

    <nb-card *ngFor="let quiz of quizList; let i = index" accent="info">
        <nb-card-header class="d-flex align-items-center px-4 py-2">
            <span>{{quiz.name}} ({{quiz.shortName}})</span>
            <a class="btn btn-xs btn-outline-primary ml-auto" routerLink="/admin/quiz/{{quiz.id}}">Edit Meta</a>
            <a class="btn btn-xs btn-outline-primary ml-2" routerLink="/admin/quiz/{{quiz.id}}/items">Edit Items</a>
        </nb-card-header>
        <nb-card-body>
            <quill-editor theme="bubble" [readOnly]="true" [ngModel]="quiz.descriptionFull"></quill-editor>
            <div class="text-right">
                Number of questions: {{quiz.totalQuestions}}, time limit: {{quiz.timeLimit}} mins
            </div>
        </nb-card-body>
    </nb-card>
</div>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>
