<div class="container" *ngIf="quizList$ | async as quizList else loading">
    <div class="d-flex flex-row mb-4 justify-content-between align-items-center">
        <span>There are totally {{quizList.length}} quizes in database</span>
        <a class="btn btn-outline-primary" routerLink="./quiz/new">Create New Quiz</a>
    </div>

    <nb-card *ngFor="let quiz of quizList; let i = index; trackBy: trackById" [accent]="quiz.published ? 'info' : 'warning'"
            [@quizAnimation]="quiz.up ? 'up' : quiz.down ? 'down' : 'none'">
        <nb-card-header class="d-flex align-items-center px-4 py-2">
            <span>{{quiz.name}} ({{quiz.shortName}})</span>
            <i class="icon nb-arrow-up ml-auto"
                title="Move up" (click)="moveQuizUp(quizList, i)"></i>
            <i class="icon nb-arrow-down ml-1"
                title="Move down" (click)="moveQuizDown(quizList, i)"></i>
            <a class="btn btn-xs btn-outline-primary ml-2" routerLink="./quiz/{{quiz.id}}">Edit</a>
        </nb-card-header>
        <nb-card-body>
            <quill-editor theme="bubble" [readOnly]="true" [ngModel]="quiz.descriptionFull"></quill-editor>
        </nb-card-body>
        <nb-card-footer class="d-flex justify-content-between">
            <span>{{quiz.published ? 'Published' : 'Draft'}}</span>
            <span>Questions: {{quiz.totalQuestions}}</span>
        </nb-card-footer>
    </nb-card>
</div>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>
