@import 'themes';

@import '~@nebular/theme/styles/globals';
@import '~@nebular/bootstrap/styles/globals';

@include nb-install() {
  @include nb-theme-global();
  @include nb-bootstrap-global();
};

.btn {
    cursor: pointer !important;
}

.jumbotron {
    background-color: nb-theme(card-bg) !important;
}

.card-body {
    background: nb-theme(card-bg);
}

.btn[disabled] {
    pointer-events: none;
    opacity: 0.4;
}

.ng-invalid {
    border-color: nb-theme(color-danger);
}

.ng-dirty {
    border-color: nb-theme(color-warning);
}

/*** Nebular ***/

.customised-control-description {
    color: inherit !important;
}

.nb-arrow-up, .nb-arrow-down {
    cursor: pointer;
}

.icon-back {
    font-size: 2rem;
    color: nb-theme(color-success);
}

.btn.btn-outline-danger.btn-remove {
    border-width: 0;
}

.btn-remove .nb-trash {
    font-size: 2em;
}

/*** Quill Editor ***/

quill-editor.ng-invalid {
    display: block;
    border-width: 2px;
    border-style: solid;
}

quill-editor.ng-dirty {
    display: block;
    border-width: 2px;
    border-style: solid;
}

.ql-editor {
    font-size: 1.25rem !important;
    max-height: 30vh;
}

.quiz-admin .ql-editor {
    font-size: 1rem !important;
    color: nb-theme(color-fg-heading);
    /*min-height: 100px;*/
}

.quiz-admin .ql-editor.ql-blank::before {
    font-size: 1rem !important;
    color: nb-theme(color-fg-heading);
    opacity: 0.6;
}

.ql-snow .ql-stroke {
    stroke: nb-theme(color-fg) !important;
}

.ql-snow .ql-picker {
    color: nb-theme(color-fg) !important;
}

.ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill {
    fill: nb-theme(color-fg) !important;
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
    border-color: nb-theme(color-bg) !important;
}
