@import 'themes';

@import '~@nebular/theme/styles/globals';
@import '~@nebular/bootstrap/styles/globals';

@include nb-install() {
  @include nb-theme-global();
  @include nb-bootstrap-global();
};

.btn {
    cursor: pointer !important;
}

.my-bg, .card-body {
    background: nb-theme(card-bg);
}

.ql-snow .ql-stroke {
    stroke: nb-theme(color-fg) !important;
}

.ql-snow .ql-picker {
    color: nb-theme(color-fg) !important;
}

.ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill {
    fill: nb-theme(color-fg) !important;
}
