<nb-card>
    <nb-card-body>
        <nb-tabset>
            <nb-tab tabTitle="Project" tabIcon="nb-home" responsive>
              <app-about-project class="tab-content my-3 px-4"></app-about-project>
            </nb-tab>
            <nb-tab tabTitle="Author" tabIcon="nb-person" responsive>
                <app-about-author class="tab-content my-3 px-3"></app-about-author>
            </nb-tab>
            <nb-tab tabTitle="Versions" tabIcon="nb-heart" responsive>
              <app-about-version class="tab-content my-3 px-4"></app-about-version>
            </nb-tab>
        </nb-tabset>
    </nb-card-body>
  </nb-card>