@import '../../../../themes';

@include nb-install-component() {
    nb-card {
        height: 100%;
    }

    @include media-breakpoint-down(is) {
        nb-card-body {
          padding: 0 !important;
        }
    }

    /deep/ i + span {
        margin-left: 0.5rem;
    }
}
